$colorMain_dark: #1A3A27
$colorMain_light: #fff
$colorHero: #3B9254
$colorHoverFocus: #4EA366
$colorClick: #2A7941
$colorDisabled: #C9DACE
$colorTextDisabled: #859F8D
$colorButton_dark: #232120
$colorFooterText: #515753
$DesktopWidthSite: 1200px
$sectionGap: 80px
