$colorMain_dark: #1A3A27
$colorMain_light: #fff
$colorHero: #3B9254
$colorHoverFocus: #4EA366
$colorClick: #2A7941
$colorDisabled: #C9DACE
$colorTextDisabled: #859F8D
$colorButton_dark: #232120
$DesktopWidthSite: 1200px
$sectionGap: 80px

@import 'slider'

@mixin section-heading
    color: $colorMain_dark
    font-family: Unbounded
    font-size: 36px
    font-style: normal
    font-weight: 400
    line-height: 140%
*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    color: $colorMain_dark
    font-family: 'Lato', sans-serif

a
    text-decoration: none
    color: $colorMain_dark
    transition: color 0.3s ease-in-out
    &:hover
        color: $colorHoverFocus
    &:focus
        color: $colorHoverFocus
    &:active
        color: $colorClick
    &:disabled
        color: $colorDisabled

ul
    list-style: none

img
    width: 100%

.container
    max-width: $DesktopWidthSite
    margin: 0 auto
    padding: 0 10px

.logo
    width: 212px

.menu
    display: flex
    gap: 0.625rem
    &__link
        padding: 0rem 0.9375rem

.button
    color: $colorMain_light
    font-size: 0.875rem
    font-style: normal
    font-weight: 600
    line-height: 170%
    letter-spacing: 0.04375rem
    text-transform: uppercase
    padding: 1rem 2rem
    background-color: $colorHero
    border: none
    border-radius: 0.625rem
    cursor: pointer
    transition: background-color 0.3s ease-in-out
    &:hover
        background-color: $colorHoverFocus
    &:focus
        background-color: $colorHoverFocus
    &:active
        background-color: $colorClick
    &:disabled
        background-color: $colorDisabled
    &_dark
        background-color: $colorButton_dark

svg path
        transition: fill 0.3s ease-in-out

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem 0
    &__phone-link
        display: flex
        height: 3.5rem
        padding: 0rem 0.9375rem
        justify-content: center
        align-items: center
        gap: 0.625rem
        flex-shrink: 0
        &:hover svg path
            fill: $colorHoverFocus
        &:active svg path
            fill: $colorClick

.hero-slider
    margin-bottom: 80px

.book
    border-radius: 0.625rem
    background: linear-gradient(92deg, #24733B 0%, #429058 19.79%, #2E7B44 31.77%, #44945B 46.88%, #2E7B44 58.33%, #408F57 71.35%, #18622E 100%)
    padding: 1.75rem 2.5rem 2.5rem
    margin-bottom: $sectionGap
    &__heading
        color: $colorMain_light
        font-family: Unbounded
        font-size: 1.25rem
        font-style: normal
        font-weight: 500
        line-height: 150%
        margin-bottom: 1.37rem

.show-houses
    margin-bottom: $sectionGap
    &__heading
        @include section-heading
        margin-bottom: 40px
    &__pics
        display: grid
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: auto
        gap: 20px
    &__pic
        &:nth-child(3)
            grid-column: span 2
            grid-row: span 2
        &:nth-child(4), &:nth-child(5)
            grid-column: span 2

.rent
    border-radius: 10px
    background: #F0E7D9
    padding: 40px
    margin-bottom: $sectionGap
    &__heading
        @include section-heading
        margin-bottom: 30px
    &__info
        display: flex
        justify-content: space-between
    &__content
        width: 73%
    &__price
        display: flex
        gap: 10px
        flex-wrap: wrap
        margin-bottom: 20px
    &__price-info
        font-size: 15px
        font-style: normal
        font-weight: 500
        line-height: 160%
        border-radius: 30px
        background-color: $colorMain_light
        padding: 4px 14px
    &__desc
        font-size: 18px
        font-style: normal
        font-weight: 400
        line-height: 150%
    &__btn
        align-self: center
        &:hover
            color: $colorMain_light
        &:focus
            $colorMain_light
        &:active
            $colorMain_light
        &:disabled
            $colorMain_light
        &_dark
            $colorMain_light
